*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
.heading{
    background-color: rgb(32, 64, 220);
    padding: 20px;
    
    
}
.grid-container {
    display:grid;
    background-color: aliceblue;
    
    align-items: center;
    justify-content: space-around;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
  }