.container {
  border-radius: 20px;
  width: 90%;
  height:auto;
  display: absolute;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
 }

 .container1 {
  border-radius: 20px;
  width: 50%;
  height:600px;
  display: absolute;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
 }

 .App {
  font-family: sans-serif;
  text-align: center;
  height: 500px;
}

.nav-link {
  align-items: center;
  margin-left: 300px;
}
 .btn-outline-primary {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #55B74E;
  border-color: #55B74E;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .btn-outline-primary:hover {
  background-color: #55B74E;
  border-color: #55B74E;
}



#btn-grp {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

#btns {
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 20px;
 }

#btns.active {
  color: #55B74E;
  border: 1px #55B74E;
}

 #btns1 {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#btns11 {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#btns-grp2 {
  text-align: left;

}

#btns:active{
  background-color: green;
}





table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Volume {
    margin-left: 120px;
  }

  .navbar {
    background-color: #55B74E;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: white;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    margin-bottom: 12px;
    margin-right: 300px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: white;
  }
  
  .nav-item .active {
    color: white;
    border: 1px solid white;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: white;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: white;
    }
  }